@import 'tailwindcss';

@theme {
  --color-brand: #1e293b;
  --color-destructive: var(--color-red-600);
  --color-destructive-foreground: var(--color-white);
  --color-primary: #0e74ce;
  --color-secondary: #f96302;
  --color-background: #f8fafc;

  --text-shadow-title: 0 0 20px rgba(0, 0, 0, 0.5), 0 0 40px rgba(0, 0, 0, 0.5);
}
