---
import '../global.css'
interface Props {
  title: string
}

const { title } = Astro.props
---

<!doctype html>
<html lang='es'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width' />
    <meta
      name='description'
      content='Servicio de internet fibra óptica confiable y veloz en Santander. Planes hogar y negocio con WiFi ilimitado. Instalación rápida y sin costo. ¡Cotiza tu conexión ahora!'
    />
    <meta name='author' content='Conectamos' />
    <meta
      name='keywords'
      content='internet fibra óptica, planes de internet hogar, planes de internet negocio, WiFi ilimitado, instalación de internet, conexión rápida, cotizar internet'
    />
    <title>{title}</title>
  </head>
  <body class='bg-background text-brand font-sans'>
    <slot />
  </body>
</html>
